.calculator {
    display: flex;
    flex-direction: column;
}

.calculator__panel {
    display: flex;
}

.calculator-operands {
    display: flex;
    flex-direction: column;
}

.user-input {
    border: 1px solid black;
    width: 150px;
}

.result-field {
    border: 1px solid black;
    width: 150px;
}